[submodule "GaussianAvatars/submodules/simple-knn"] 
	path = GaussianAvatars/submodules/simple-knn 
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git

[submodule "GaussianAvatars/submodules/diff-gaussian-rasterization"] 
	path = GaussianAvatars/submodules/diff-gaussian-rasterization 
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization